{% extends "base.html" %}
{% block content %}
<div class="card" style="margin-bottom: 10px">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="question-tab" href="#question" data-toggle="tab" role="tab" aria-controls="question" aria-selected="true">
          Question
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="answer-tab" href="#answer" data-toggle="tab" role="tab" aria-controls="answer" aria-selected="false">
          Answer
        </a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link disabled" tabindex="-1" aria-disabled="true">
          {{ n_current }} / {{ n_total }}
        </a>
      </li>
    </ul>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="question" role="tabpanel" aria-labelledby="question-tab">
      <div class="card-body" style="height: 300px; overflow: auto; padding: 1rem 0.75rem 1rem 1rem;">
        {{ question_html|safe }}
      </div>
    </div>
    <div class="tab-pane" id="answer" role="tabpanel" aria-labelledby="answer-tab">
      <div class="card-body" style="height: 300px; overflow: auto; padding: 1rem 0.75rem 1rem 1rem;">
        {{ answer_html|safe }}
      </div>
    </div>
  </div>
  <div class="card-footer" style="padding: 0rem .75rem .25rem .75rem;">
    <small class="text-muted"><strong>Category: </strong>{{ deck_name }}</small>
  </div>
</div>

<form method="post">
  <div>
      <input type="submit" class="btn btn-success" name="pass" value="Know it" style="width: 49.5%">
      <input type="submit" class="btn btn-warning" name="fail" value="Don't know it" style="width: 49.5%; float: right">
  </div>
</form>
{% endblock %}
