{% extends "layout.html" %}
{% block content %}
    <p>Select flashcard categories to study:</p>

    <script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('tag');
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }
    </script>

    <form method="post">
        <ul style="list-style: none;">
            <li><label><input type="checkbox" onClick="toggle(this)"> Toggle All</label></li>
            {% for deck_name, tags in deck_tags.items() %}
            <li><label><input type="checkbox" name="deck_name" value="{{ deck_name }}"> {{ deck_name }}</label></li>
                <ul style="list-style: none;">
                    {% for tag in tags %}
                    <li><label><input type="checkbox" name="tag" value="{{ tag }}"> {{ tag }}</label></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
        <button type="submit" class="btn btn-success">Start Quiz</button>
    </form>
{% endblock %}
