{% extends "layout.html" %}
{% block content %}
    <h1>pyflashcards</h1>
    <p>Select flashcard categories to study:</p>

    <script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('tag');
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }
    </script>

    <form method="post">
        <ul style="list-style: none;">
            <li><label><input type="checkbox" onClick="toggle(this)"> Toggle All</label></li>
            {% for tag in tags %}
            <li><label><input type="checkbox" name="tag" value="{{ tag }}"> {{ tag }}</label></li>
            {% endfor %}
        </ul>
    <input type="submit">
{% endblock %}
