{% extends "base.html" %}
{% block content %}
<form method="post">
    <div class="card" style="margin-bottom: 10px">
        <h6 class="card-header">
            Select Categories to Study
        </h6>
        <div class="card-body" style="height: 300px; overflow: auto">
            {% for deck_name, tags in deck_tags.items() %}
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="deck" id="{{ deck_name }}" value="{{ deck_name }}">
                <label class="custom-control-label" for="{{ deck_name }}" style="width: 100%;">{{ deck_name }}</label>
            </div>
            {% for tag in tags %}
            <div class="custom-control custom-checkbox" style="margin-left: 25px">
                <input type="checkbox" class="custom-control-input" name="tag" id="{{ tag }}"  value="{{ tag }}">
                <label class="custom-control-label" for="{{ tag }}" style="width: 100%;">{{ tag }}</label>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
    <button type="submit" class="btn btn-success" style="width:100%" name="start_quiz">
        Start Quiz
    </button>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p style="text-align: center;">
    <strong>Error:</strong> {{ message }}
</p>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}
