{% extends "base.html" %}
{% block content %}
    <form action="" method="post">
        <div class="card">
            <header>
                <h3>Log In</h3>
            </header>
            <section>
                <span>Username</span>
                <input name="username" value="{{ request.form.username }}"/>
            </section>
            <section>
                <span>Password</span>
                <input name="password" value="{{ request.form.password }}"/>
            </section>
            <footer>
                <button type="submit" style="width:100%">Submit</button>
            </footer>
        </div>
    </form>
    {% if error %}
    <p style="text-align: center;">
        <strong>Error:</strong> {{ error }}
    </p>
    {% endif %}
{% endblock %}